<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/lagou.css">
    <style>
    </style>
    <!--    <script src="js/vendor/modernizr-2.6.2.min.js"></script>-->
    <script src="../bower_components/modernizr/modernizr.js"></script>
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <header>
        <div class="wrapper">
            <a href="#" class="logo"></a>
            <nav class="nav">
                <ul>
                    <li>
                        <a href="">首页</a>
                    </li>
                    <li>
                        <a href="">公司</a>
                    </li>
                    <li>
                        <a href="">论坛</a>
                    </li>
                    <li>
                        <a href="">我的简历</a>
                    </li>
                    <li>
                        <a href="">发布职位</a>
                    </li>
                    <li>
                        <a href=""></a>
                    </li>
                </ul>
            </nav>
            <ul class="login">
                <li><a href="#">登录</a>
                </li>
                <li>|</li>
                <li><a href="#">注册</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="container">
        <nav class="menu">
            <ul>
                <li class="">
                    <div class="main">
                        <h2>设计</h2>
                        <a href="">利用</a>
                        <a href="">z-index</a>
                        <a href="">遮盖住</a>
                        <a href="">右侧面板</a>
                        <a href="">的</a>
                        <a href="">左边界</a>
                    </div>
                    <div class="detail">
                        <dl>
                            <dt><a href="#">后端</a></dt>
                            <dd>
                                <a href="">隐藏</a>
                                <a href="">行首的</a>
                                <a href="">标签&lt;a&gt;</a>
                                <a href="">的背景</a>
                                <a href="">竖杠</a>
                                <a href="">图案</a>
                                <a href="">利用</a>
                                <a href="">负值的</a>
                                <a href="">margin-left</a>
                                <a href="">和</a>
                                <a href="">父元素</a>
                                <a href="">的</a>
                                <a href="">overflow:hidden;</a>
                                <a href="">属性值</a>
                                <a href="">来实现</a>
                            </dd>
                        </dl>
                        <dl>
                            <dt><a href="#">前端</a></dt>
                            <dd><a href="#">js</a>
                            </dd>
                        </dl>
                        <dl>
                            <dt><a>美术</a></dt>
                            <dd> <a href="">jadfa</a>
                                <a href="">javsdfa</a>
                                <a href="">jadfva</a>
                                <a href="">javsa</a>
                                <a href="">javasd</a>
                                <a href="">javsdfa</a>
                                <a href="">java</a>
                                <a href="">java</a>
                                <a href="">javsdfa</a>
                            </dd>
                        </dl>
                    </div>
                </li>
                <li>
                    <div class="main">
                        <h2>title</h2>
                        <a href="">label</a>
                        <a href="">label</a>
                        <a href="">label</a>
                        <a href="">label</a>
                        <a href="">label</a>
                        <a href="">label</a>
                    </div>
                    <div class="detail">
                        <dl>
                            <dt>frontend</dt>
                            <dd>js</dd>
                        </dl>
                        <dl>
                            <dt>frontend</dt>
                            <dd>js</dd>
                        </dl>
                        <dl>
                            <dt>frontend</dt>
                            <dd>js</dd>
                        </dl>
                    </div>
                </li>
                <li>
                    <div class="main">
                        <h2>title</h2>
                        <a href="">label</a>
                        <a href="">label</a>
                        <a href="">label</a>
                        <a href="">label</a>
                        <a href="">label</a>
                        <a href="">label</a>
                    </div>
                    <div class="detail">
                        <dl>
                            <dt>frontend</dt>
                            <dd>js</dd>
                        </dl>
                        <dl>
                            <dt>frontend</dt>
                            <dd>js</dd>
                        </dl>
                        <dl>
                            <dt>frontend</dt>
                            <dd>js</dd>
                        </dl>
                    </div>
                </li>
                <li>
                    <div class="main">
                        <h2>title</h2>
                        <a href="">label</a>
                        <a href="">label</a>
                        <a href="">label</a>
                        <a href="">label</a>
                        <a href="">label</a>
                        <a href="">label</a>
                    </div>
                    <div class="detail">
                        <dl>
                            <dt>frontend</dt>
                            <dd>js</dd>
                        </dl>
                        <dl>
                            <dt>frontend</dt>
                            <dd>js</dd>
                        </dl>
                        <dl>
                            <dt>frontend</dt>
                            <dd>js</dd>
                        </dl>
                    </div>
                </li>
                <li>
                    <div class="main">
                        <h2>title</h2>
                        <a href="">label</a>
                        <a href="">label</a>
                        <a href="">label</a>
                        <a href="">label</a>
                        <a href="">label</a>
                        <a href="">label</a>
                    </div>
                    <div class="detail">
                        <dl>
                            <dt>frontend</dt>
                            <dd>js</dd>
                        </dl>
                        <dl>
                            <dt>frontend</dt>
                            <dd>js</dd>
                        </dl>
                        <dl>
                            <dt>frontend</dt>
                            <dd>js</dd>
                        </dl>
                    </div>
                </li>
                <li>
                    <div class="main">
                        <h2>title</h2>
                        <a href="">label</a>
                        <a href="">label</a>
                        <a href="">label</a>
                        <a href="">label</a>
                        <a href="">label</a>
                        <a href="">label</a>
                    </div>
                    <div class="detail">
                        <dl>
                            <dt>frontend</dt>
                            <dd>js</dd>
                        </dl>
                        <dl>
                            <dt>frontend</dt>
                            <dd>js</dd>
                        </dl>
                        <dl>
                            <dt>frontend</dt>
                            <dd>js</dd>
                        </dl>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="content">
            <form action="" class="search">
                <select name="kind" id="search_select">
                    <option value="">职位</option>
                    <option value="">公司</option>
                </select>
                <input type="text" id="search_input" name="keyword" />
                <input type="submit" id="search_submit" value="搜索" />
            </form>
            <dl class="hot">
                <dt>热门搜索：</dt>
                <dd>
                    <a href="">这是</a>
                    <a href="">一个</a>
                    <a href="">自定义列表</a>
                    <a href="">标题</a>
                    <a href="">和</a>
                    <a href="">数据</a>
                </dd>
            </dl>
            <div class="banner">
                <ul class="slide">
                    <li>
                        <a href="">
                            <img src="../img/1.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../img/2.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../img/3.png" alt="">
                        </a>
                    </li>
                </ul>
                <div class="controller">
                    <ul>
                        <li class="">
                            <span></span>
                            <img src="../img/4.png" alt="">
                        </li>
                        <li class="current">
                            <span></span>
                            <img src="../img/5.jpg" alt="">
                        </li>
                        <li class="last">
                            <span></span>
                            <img src="../img/6.png" alt="">
                        </li>
                    </ul>
                    <div class="indicator"></div>
                </div>
            </div>
            <ul class="company">
                li*6>a>img+div
            </ul>
            <ul class="tab"></ul>
            <div class="recuit"></div>
            <div class="link"></div>
        </div>
    </div>
    <footer></footer>


    <!--    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
    <script>
        window.jQuery || document.write('<script src="../js/vendor/jquery-1.10.2.min.js"><\/script>')
    </script>
    <script src="../js/plugins.js"></script>
    <!--    <script src="../js/main.js"></script>-->
        <script src="../bower_components/firebug-lite/build/firebug-lite.js"></script>
</body>

</html>